# Maven / Java
target
*.log

# IDE
.idea
.vscode
*.iml

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml

# Node / Frontend если вдруг появится
node_modules
dist