# Database Configuration
OPERATOR_DB_NAME=operator_service
OPERATOR_DB_USERNAME=postgres
OPERATOR_DB_PASSWORD=postgres

# JWT Configuration
JWT_SECRET=QE5jUmZValhuMnI1dTh4L0E/RChHK0tiUGRTZ1ZrWXA=
JWT_EXPIRATION=86400000

# Qdrant Configuration
QDRANT_URL=https://your-cluster-id.eu-central-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=your-qdrant-api-key
